   <ion-popover-view view-title="About" class="item-body">
       <b>About</b><br><br>
       Please note that all images are copyrighted by the International Life
       Saving Federation (ILSF) from whom permission has been granted to use the
       relevant images for this app.<br><br>
       Note that the developer of this app has no official
       affiliation with ILSF except for the fact that his kids take part in
       <a href="#" onclick="window.open('https://www.facebook.com/groups/161394530585052', '_system', 'location=yes'); return false;">Nipper</a>
       competitions. For more information regarding life saving please
       refer to <a href="#" onclick="window.open('http://www.islasurf.org/', '_system', 'location=yes'); return false;">www.islasurf.org</a> or your
       local life saving club.<br><br>
       If you would like to contribute to this project or request additional
       features please go to the
       <a href="#" onclick="window.open('https://github.com/sudoorgza/surfSignals', '_system', 'location=yes'); return false;">project page</a>.
   </ion-popover-view>
