
      <div class="list card" ng-repeat="signal in signals">
        <div class="item item-divider">{{signal.name}}</div>
        <div class="item-light item-body">
          <div class="item item-positive item-thumbnail-left">
            <img class="item-light" ng-src="{{signal.image}}">
            <p>{{signal.action}}</p>
          </div>
          <div class="item item-energized">
            <button class="button button-stable" ng-hide="showDef" ng-click="showDef = true">Show details</button>
            <p ng-show="showDef" ng-click="showDef = false"><b>Meaning</b><br>{{signal.meaning}}</p>
          </div>
        </div>
      </div>
