
      <div class="list card" ng-repeat="signal in signals">
        <div class="item item-divider">{{signal.name}}</div>
        <div class="item-dark item-body">
          <div class="item item-dark item-thumbnail-left">
            <img class="item-light" ng-src="{{signal.image}}">
            <p>{{signal.action}}
              <br>
              <a href="" style="float:right" ng-hide="showDef" ng-click="showDef = true">...more</a>
              <a href="" style="float:right" ng-show="showDef" ng-click="showDef = false">...less</a>
            </p>
          </div>
          <div class="item item-energized" ng-show="showDef">
            <p ng-click="showDef = false"><b>Meaning</b><br>{{signal.meaning}}</p>
          </div>
        </div>
      </div>
